<html>
<head>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 19.8px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
-->
</style>
</head>
<body>
<nobr><nowrap>
<div class="pos" id="_0:0" style="top:0">
<img name="_1170:827" src="page_001.jpg" height="1170" width="827" border="0" usemap="#Map"></div>
<div class="pos" id="_399:140" style="top:140;left:399">
<span id="_20.0" style="font-weight:bold; font-family:Arial; font-size:20.0px; color:#017848">
Software Documenation <span id="_15.0" style=" font-size:15.0px"> V 1.0</span></span>
</div>
<div class="pos" id="_336:167" style="top:167;left:336">
<span id="_14.5" style="font-weight:bold; font-family:Arial; font-size:14.5px; color:#07aa66">
THE FIRST AFRICAN INTEGRATED INFORMATION SYSTEM</span>
</div>
<div class="pos" id="_75:237" style="top:237;left:75">
<span id="_19.1" style="font-weight:bold; font-family:Arial; font-size:19.1px; color:#017848">
ABOUT</span>
</div>
<div class="pos" id="_75:271" style="top:271;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
The river Nile is world's largest river extends across 11 countries and is the home to over 500 million </span>
</div>
<div class="pos" id="_75:292" style="top:292;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
people. Climate change poses drastic challenges to the future of the Nile basin and its indigenous </span>
</div>
<div class="pos" id="_75:314" style="top:314;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
populations. <span style="font-style:italic"> &#147;By 2040, a hot and dry year could push over 45% of the people in the Nile Basin, or </span></span>
</div>
<div class="pos" id="_75:336" style="top:336;left:75">
<span id="_15.2" style="font-style:italic; font-family:Arial; font-size:15.2px; color:#000000">
nearly 110 million people, into water scarcity,&#148;<span style="font-style:normal"> researchers predict. </span></span>
</div>
<div class="pos" id="_75:357" style="top:357;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
The Nile Nexus Technology is an initiative to develop the first African integrated and comprehensive </span>
</div>
<div class="pos" id="_75:379" style="top:379;left:75">
<span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
W<span style="font-weight:normal"> ater-</span> E<span style="font-weight:normal"> nergy-</span> F<span style="font-weight:normal"> ood-</span> C<span style="font-weight:normal"> limate </span> (WEFC)<span style="font-weight:normal"> </span><span style="font-weight:normal"> information </span><span style="font-weight:normal"> system </span><span style="font-weight:normal"> to </span><span style="font-weight:normal"> promote </span><span style="font-weight:normal"> holistic </span><span style="font-weight:normal"> decision </span><span style="font-weight:normal"> support </span></span>
</div>
<div class="pos" id="_75:401" style="top:401;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
approaches and enable augmented intelligence for the future development of the Nile basin WEFC </span>
</div>
<div class="pos" id="_75:423" style="top:423;left:75">
<span id="_15.2" style="font-style:italic; font-family:Arial; font-size:15.2px; color:#000000">
value chain.</span>
</div>
<div class="pos" id="_75:444" style="top:444;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
The datasets were chosen from the best available global datasets for each required category. This </span>
</div>
<div class="pos" id="_75:466" style="top:466;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
means the datasets needed to be both of high quality and have high enough resolution so that the </span>
</div>
<div class="pos" id="_75:488" style="top:488;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
downscaling process would not be missing large amounts of information.</span>
</div>
<div class="pos" id="_75:518" style="top:518;left:75">
<span id="_15.2" style="font-style:italic; font-family:Arial; font-size:15.2px; color:#000000">
The  usage  of  Nile  Nexus  information  system  is  for  environmental  data  integration  modelling  for </span>
</div>
<div class="pos" id="_75:539" style="top:539;left:75">
<span id="_15.2" style="font-style:italic; font-family:Arial; font-size:15.2px; color:#000000">
environmentalists, agronomists and energy strategic planners <span style="font-style:normal"> across the Nile Basin countries</span></span>
</div>
<div class="pos" id="_75:583" style="top:583;left:75">
<span id="_16.9" style="font-weight:bold; font-family:Arial; font-size:16.9px; color:#017848">
DATA SOURCES AND OUTPUTS</span>
</div>
<div class="pos" id="_75:616" style="top:616;left:75">
<span id="_15.1" style=" font-family:Arial; font-size:15.1px; color:#000000">
The data are available for Egypt as first stage in the web app development. Users can download the </span>
</div>
<div class="pos" id="_75:637" style="top:637;left:75">
<span id="_15.1" style=" font-family:Arial; font-size:15.1px; color:#000000">
available resources for each interpolated grid cell (50 km<span id="_10.1" style=" font-size:10.1px"> 2</span> spatial resolution).</span>
</div>
<div class="pos" id="_85:670" style="top:670;left:85">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#ffffff">
Data parameter</span>
</div>
<div class="pos" id="_361:670" style="top:670;left:361">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#ffffff">
Unit</span>
</div>
<div class="pos" id="_426:670" style="top:670;left:426">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#ffffff">
Spatial resolution</span>
</div>
<div class="pos" id="_544:670" style="top:670;left:544">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#ffffff">
Source(s)</span>
</div>
<div class="pos" id="_544:690" style="top:690;left:544">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
USGS EROS Archive&#151;Digital Elevation&#151;</span>
</div>
<div class="pos" id="_441:699" style="top:699;left:441">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
1 arc-second </span>
</div>
<div class="pos" id="_85:707" style="top:707;left:85">
<span id="_12.7" style="font-weight:bold; font-family:Arial; font-size:12.7px; color:#000000">
Mean elevation</span>
</div>
<div class="pos" id="_368:707" style="top:707;left:368">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
m</span>
</div>
<div class="pos" id="_544:707" style="top:707;left:544">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
Shuttle  Radar  Topography  Mission </span>
</div>
<div class="pos" id="_460:716" style="top:716;left:460">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
(30m)</span>
</div>
<div class="pos" id="_544:724" style="top:724;left:544">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
(SRTM) 1 Arc-Second Global</span>
</div>
<div class="pos" id="_85:744" style="top:744;left:85">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
Elevation range</span>
</div>
<div class="pos" id="_368:744" style="top:744;left:368">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
m</span>
</div>
<div class="pos" id="_475:744" style="top:744;left:475">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
-</span>
</div>
<div class="pos" id="_544:744" style="top:744;left:544">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Generated using GIS platform</span>
</div>
<div class="pos" id="_441:764" style="top:764;left:441">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
1 arc-second </span>
</div>
<div class="pos" id="_85:773" style="top:773;left:85">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Mean slope gradient</span>
</div>
<div class="pos" id="_369:773" style="top:773;left:369">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
%</span>
</div>
<div class="pos" id="_544:773" style="top:773;left:544">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Generated using GIS platform</span>
</div>
<div class="pos" id="_460:781" style="top:781;left:460">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
(30m)</span>
</div>
<div class="pos" id="_544:799" style="top:799;left:544">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
Generated  using  guidelines  for  soil </span>
</div>
<div class="pos" id="_85:807" style="top:807;left:85">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
Slope gradient class</span>
</div>
<div class="pos" id="_372:807" style="top:807;left:372">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
-</span>
</div>
<div class="pos" id="_475:807" style="top:807;left:475">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
-</span>
</div>
<div class="pos" id="_544:816" style="top:816;left:544">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
description. FAO</span>
</div>
<div class="pos" id="_85:836" style="top:836;left:85">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
Mean slope aspect</span>
</div>
<div class="pos" id="_350:836" style="top:836;left:350">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Degrees</span>
</div>
<div class="pos" id="_435:836" style="top:836;left:435">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
1 arcsec (30m)</span>
</div>
<div class="pos" id="_544:836" style="top:836;left:544">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
Generated using GIS platform</span>
</div>
<div class="pos" id="_544:856" style="top:856;left:544">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
GLDAS  Noah  Land  Surface  Model  L4 </span>
</div>
<div class="pos" id="_85:873" style="top:873;left:85">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
Mean near surface air temperature</span>
</div>
<div class="pos" id="_350:873" style="top:873;left:350">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Celesius </span>
</div>
<div class="pos" id="_462:873" style="top:873;left:462">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
0.25&#176;</span>
</div>
<div class="pos" id="_544:873" style="top:873;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
monthly  0.25  x  0.25  degree  V2.  1." </span>
</div>
<div class="pos" id="_544:890" style="top:890;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Greenbelt, Maryland (2016).</span>
</div>
<div class="pos" id="_544:908" style="top:908;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
GLDAS  Noah  Land  Surface  Model  L4 </span>
</div>
<div class="pos" id="_85:925" style="top:925;left:85">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Mean soil temperature 0 &#150; 10 cm depth</span>
</div>
<div class="pos" id="_350:925" style="top:925;left:350">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Celesius </span>
</div>
<div class="pos" id="_462:925" style="top:925;left:462">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
0.25&#176;</span>
</div>
<div class="pos" id="_544:925" style="top:925;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
monthly  0.25  x  0.25  degree  V2.  1." </span>
</div>
<div class="pos" id="_544:942" style="top:942;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Greenbelt, Maryland (2016).</span>
</div>
<div class="pos" id="_544:959" style="top:959;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
GLDAS  Noah  Land  Surface  Model  L4 </span>
</div>
<div class="pos" id="_85:976" style="top:976;left:85">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Mean soil temperature 10 &#150; 40 cm depth</span>
</div>
<div class="pos" id="_350:976" style="top:976;left:350">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Celesius </span>
</div>
<div class="pos" id="_462:976" style="top:976;left:462">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
0.25&#176;</span>
</div>
<div class="pos" id="_544:976" style="top:976;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
monthly  0.25  x  0.25  degree  V2.  1." </span>
</div>
<div class="pos" id="_544:993" style="top:993;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Greenbelt, Maryland (2016).</span>
</div>
<div class="pos" id="_544:1011" style="top:1011;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
GLDAS  Noah  Land  Surface  Model  L4 </span>
</div>
<div class="pos" id="_85:1028" style="top:1028;left:85">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Total precipitation rate</span>
</div>
<div class="pos" id="_347:1028" style="top:1028;left:347">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
mm/year</span>
</div>
<div class="pos" id="_462:1028" style="top:1028;left:462">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
0.25&#176;</span>
</div>
<div class="pos" id="_544:1028" style="top:1028;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
monthly  0.25  x  0.25  degree  V2.  1." </span>
</div>
<div class="pos" id="_544:1045" style="top:1045;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Greenbelt, Maryland (2016).</span>
</div>
<div class="pos" id="_0:0" style="top:1170">
<img name="_1170:827" src="page_002.jpg" height="1170" width="827" border="0" usemap="#Map"></div>
<div class="pos" id="_544:1271" style="top:1271;left:544">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
GLDAS  Noah  Land  Surface  Model  L4 </span>
</div>
<div class="pos" id="_85:1288" style="top:1288;left:85">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Mean specific humidity</span>
</div>
<div class="pos" id="_353:1288" style="top:1288;left:353">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
kg kg-1</span>
</div>
<div class="pos" id="_462:1288" style="top:1288;left:462">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
0.25&#176;</span>
</div>
<div class="pos" id="_544:1288" style="top:1288;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
monthly  0.25  x  0.25  degree  V2.  1." </span>
</div>
<div class="pos" id="_544:1305" style="top:1305;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Greenbelt, Maryland (2016).</span>
</div>
<div class="pos" id="_544:1323" style="top:1323;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
GLDAS  Noah  Land  Surface  Model  L4 </span>
</div>
<div class="pos" id="_85:1340" style="top:1340;left:85">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Mean evapotranspiration</span>
</div>
<div class="pos" id="_347:1340" style="top:1340;left:347">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
mm/year</span>
</div>
<div class="pos" id="_462:1340" style="top:1340;left:462">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
0.25&#176;</span>
</div>
<div class="pos" id="_544:1340" style="top:1340;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
monthly  0.25  x  0.25  degree  V2.  1." </span>
</div>
<div class="pos" id="_544:1357" style="top:1357;left:544">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Greenbelt, Maryland (2016).</span>
</div>
<div class="pos" id="_85:1374" style="top:1374;left:85">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Mean wind speed at 10, 50, 100, 150 & </span>
</div>
<div class="pos" id="_362:1383" style="top:1383;left:362">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
m/s</span>
</div>
<div class="pos" id="_433:1383" style="top:1383;left:433">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
10 arcsec 300m</span>
</div>
<div class="pos" id="_85:1391" style="top:1391;left:85">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
200 m</span>
</div>
<div class="pos" id="_544:1392" style="top:1392;left:544">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Energy  Sector  Management  Assistance </span>
</div>
<div class="pos" id="_85:1409" style="top:1409;left:85">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Mean air density at 10, 50, 100, 150 & </span>
</div>
<div class="pos" id="_544:1409" style="top:1409;left:544">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Program  (ESMAP),  Global  Atlas  for </span>
</div>
<div class="pos" id="_355:1418" style="top:1418;left:355">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
kg/m3</span>
</div>
<div class="pos" id="_433:1418" style="top:1418;left:433">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
10 arcsec 300m</span>
</div>
<div class="pos" id="_85:1426" style="top:1426;left:85">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
200 m</span>
</div>
<div class="pos" id="_544:1426" style="top:1426;left:544">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Renewable  Energy  by  IRENA  and  DTU </span>
</div>
<div class="pos" id="_85:1444" style="top:1444;left:85">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Mean power density at 10, 50, 100, 150 </span>
</div>
<div class="pos" id="_544:1443" style="top:1443;left:544">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Wind Energy GWA science pages</span>
</div>
<div class="pos" id="_355:1452" style="top:1452;left:355">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
W/m2</span>
</div>
<div class="pos" id="_433:1452" style="top:1452;left:433">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
10 arcsec 300m</span>
</div>
<div class="pos" id="_85:1461" style="top:1461;left:85">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
& 200 m</span>
</div>
<div class="pos" id="_85:1483" style="top:1483;left:85">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Photo Voltic Electricity (Mean PVOUT)</span>
</div>
<div class="pos" id="_344:1481" style="top:1481;left:344">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
kWh/kWp</span>
</div>
<div class="pos" id="_432:1481" style="top:1481;left:432">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
30 arcsec (1km)</span>
</div>
<div class="pos" id="_544:1483" style="top:1483;left:544">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Solargis</span>
</div>
<div class="pos" id="_85:1506" style="top:1506;left:85">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
Diffuse Horizontal Irradiation (Mean DIF)</span>
</div>
<div class="pos" id="_348:1503" style="top:1503;left:348">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
kWh/m2</span>
</div>
<div class="pos" id="_432:1503" style="top:1503;left:432">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
9 arcsec (250m)</span>
</div>
<div class="pos" id="_544:1506" style="top:1506;left:544">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Solargis</span>
</div>
<div class="pos" id="_85:1528" style="top:1528;left:85">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Direct Normal Irradiation (Mean DNI)</span>
</div>
<div class="pos" id="_348:1526" style="top:1526;left:348">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
kWh/m2</span>
</div>
<div class="pos" id="_432:1526" style="top:1526;left:432">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
9 arcsec (250m)</span>
</div>
<div class="pos" id="_544:1528" style="top:1528;left:544">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Solargis</span>
</div>
<div class="pos" id="_85:1551" style="top:1551;left:85">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
Global Horizontal Irradiation (Mean GHI)</span>
</div>
<div class="pos" id="_348:1548" style="top:1548;left:348">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
kWh/m2</span>
</div>
<div class="pos" id="_432:1548" style="top:1548;left:432">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
9 arcsec (250m)</span>
</div>
<div class="pos" id="_544:1551" style="top:1551;left:544">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Solargis</span>
</div>
<div class="pos" id="_85:1569" style="top:1569;left:85">
<span id="_12.4" style="font-weight:bold; font-family:Arial; font-size:12.4px; color:#000000">
Longterm yearly average of global </span>
</div>
<div class="pos" id="_348:1577" style="top:1577;left:348">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
kWh/m2</span>
</div>
<div class="pos" id="_432:1577" style="top:1577;left:432">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
9 arcsec (250m)</span>
</div>
<div class="pos" id="_85:1585" style="top:1585;left:85">
<span id="_12.3" style="font-weight:bold; font-family:Arial; font-size:12.3px; color:#000000">
irradiation at optimum tilt (Mean GTI)</span>
</div>
<div class="pos" id="_544:1585" style="top:1585;left:544">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Solargis</span>
</div>
<div class="pos" id="_85:1603" style="top:1603;left:85">
<span id="_12.6" style="font-weight:bold; font-family:Arial; font-size:12.6px; color:#000000">
Optimum inclination [&#186;] for inclined and </span>
</div>
<div class="pos" id="_350:1612" style="top:1612;left:350">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Degrees</span>
</div>
<div class="pos" id="_432:1612" style="top:1612;left:432">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
2 arcmin (4 km)</span>
</div>
<div class="pos" id="_85:1620" style="top:1620;left:85">
<span id="_12.5" style="font-weight:bold; font-family:Arial; font-size:12.5px; color:#000000">
fixed equator facing PV modules (OPTA)</span>
</div>
<div class="pos" id="_544:1620" style="top:1620;left:544">
<span id="_13.6" style="font-weight:bold; font-family:Arial; font-size:13.6px; color:#000000">
Solargis</span>
</div>
<div class="pos" id="_75:1689" style="top:1689;left:75">
<span id="_15.0" style="font-weight:bold; font-family:Arial; font-size:15.0px; color:#000000">
Limit of Liability/Disclaimer of Warranty: <span style="font-weight:normal"> While the authors have used their best efforts in preparing </span></span>
</div>
<div class="pos" id="_75:1711" style="top:1711;left:75">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
this  business  plan,  they  make  no  representations  or  warranties  with  respect  to  the  accuracy  or </span>
</div>
<div class="pos" id="_75:1733" style="top:1733;left:75">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
completeness  of  the  contents  of  this  report  and  specifically  disclaim  any  implied  warranties  of </span>
</div>
<div class="pos" id="_75:1755" style="top:1755;left:75">
<span id="_15.0" style=" font-family:Arial; font-size:15.0px; color:#000000">
merchantability or fitness for a particular purpose. No warranty may be created or extended by sales </span>
</div>
<div class="pos" id="_75:1776" style="top:1776;left:75">
<span id="_15.6" style=" font-family:Arial; font-size:15.6px; color:#000000">
representatives or written sales materials. The plan and strategies contained herein may not be </span>
</div>
<div class="pos" id="_75:1798" style="top:1798;left:75">
<span id="_15.6" style=" font-family:Arial; font-size:15.6px; color:#000000">
suitable for your situation. You should consult with a professional where appropriate. The authors </span>
</div>
<div class="pos" id="_75:1820" style="top:1820;left:75">
<span id="_15.6" style=" font-family:Arial; font-size:15.6px; color:#000000">
shall not be liable for any loss of profit or any other commercial damages, including but not limited </span>
</div>
<div class="pos" id="_75:1841" style="top:1841;left:75">
<span id="_15.2" style=" font-family:Arial; font-size:15.2px; color:#000000">
to special, incidental, consequential, or other damages.</span>
</div>
<div class="pos" id="_75:1874" style="top:1874;left:75">
<span id="_15.2" style="font-weight:bold; font-family:Arial; font-size:15.2px; color:#000000">
Copyright &#169; <span style="font-weight:normal"> 2021-2025. All rights reserved to Nile Nexus Technology.</span></span>
</div>
</nowrap></nobr>
</body>
</html>
